.container {
  padding: 60px 20px;
  font-family: "Inter", sans-serif;
  background: #f9fafb;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSection {
  text-align: center;
  margin-bottom: 40px;
}

.heroSection h1 {
  font-size: 2.5rem;
  color: #111827;
  margin-bottom: 10px;
}

.heroSection p {
  color: #4b5563;
  max-width: 600px;
  margin: 0 auto;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoContainer h2 {
  color: #111827;
  font-size: 1.5rem;
}

.infoContainer p {
  color: #4b5563;
  font-size: 1rem;
}

.map iframe {
  border-radius: 10px;
  border: none;
}

@media (max-width: 768px) {
  .heroSection h1 {
    font-size: 2rem;
  }
}
